.trending-cards {
    flex-basis: 330px;
    height: 525px;

    .inner-cards {
        height: 525px;

        p {
            font-size: 22px;
            line-height: 140%;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .small-imgs {
            margin: 15px 0;
            display: flex;
            column-gap: 15px;

            h1 {
                border-radius: 20px;
                background-color: #A259FF;
                font-size: 22px;
                line-height: 160%;
                font-weight: 700;
                padding: 32px 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .last-img {
            display: flex;
            align-items: center;


            h6 {
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                margin-left: 12px;
            }
        }

    }
}