.footer {

    display: flex;
    justify-content: center;
    background-color: #3b3b3b;

    .inner-footer-div {
        margin: 40px 50px;
        display: grid;
        grid-template-columns: 1.5fr 1fr 2fr;
        flex-basis: 990px;
        background-color: #3b3b3b;

        .footer-row1 {

            background-color: #3b3b3b;

            .inner-row1-div {
                background-color: #3b3b3b;
                width: 250px;

                .footer-row1-heading {

                    display: flex;
                    align-items: center;
                    background-color: #3b3b3b;
                    margin-bottom: 30px;

                    h1 {
                        font-size: 22px;
                        margin-left: 12px;
                        line-height: 160%;
                        font-weight: 700;
                        background-color: #3b3b3b;
                    }
                }

                p {

                    font-size: 16px;
                    line-height: 140%;
                    font-weight: 400;
                    color: #cccccc;
                    background-color: #3b3b3b;
                    margin-bottom: 20px;
                    text-align: start;
                }

                .footer-social-icons {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    background-color: #3b3b3b;
                    margin-top: -10px;
                }
            }

        }

        .footer-row2 {

            background-color: #3b3b3b;

            h1 {
                font-size: 22px;
                line-height: 160%;
                font-weight: 700;
                background-color: #3b3b3b;
                margin-bottom: 25px;
            }

            p {
                color: #cccccc;
                font-size: 16px;
                line-height: 140%;
                font-weight: 400;
                background-color: #3b3b3b;
                margin-bottom: 20px;
            }
        }

        .footer-row3 {

            background-color: #3b3b3b;

            h1 {
                font-size: 22px;
                line-height: 160%;
                font-weight: 700;
                background-color: #3b3b3b;
                margin-bottom: 25px;
            }

            p {
                color: #cccccc;
                font-size: 16px;
                line-height: 140%;
                font-weight: 400;
                background-color: #3b3b3b;
                width: 300px;
                margin-bottom: 20px;
            }

            div {
                border-radius: 20px;
                background-color: white;
                display: flex;
                justify-content: space-between;

                input {
                    background-color: #3b3b3b;
                    border-radius: 20px;
                    width: 100%;
                    background-color: white;
                    padding: 19px 20px;

                    &::placeholder {
                        font-size: 16px;
                        line-height: 140%;
                        color: #2b2b2b;
                    }
                }

                button {
                    border-radius: 20px;
                    padding: 19px 50px;
                    background-color: #A259FF;
                }
            }
        }

        @media (max-width:1281px) {
            margin: 40px 72px;
            display: flex;
            flex-direction: column;
            align-items: start;
            flex-basis: 690px;
            row-gap: 30px;

            .footer-row1 {
                .inner-row1-div {
                    width: 100%;
                }

            }

        }

        @media (max-width:834px) {
            border: 1px solid;

            .footer-row3{
                div{
                    border: 1px solid;
                    display: flex;
                    flex-direction: column;
                    background-color: #3b3b3b;
                    input{
                        padding: 12px 20px;
                        margin-bottom: 20px;
                    }
                    button{
                        padding: 12px 20px;
                    }
                }
            }
        }
    }

}