.top-creators-cards{
    border-radius: 20px;
    width: 240px;
    height: 240px;
    background-color: #3b3b3b;
    display: flex;
    align-items: center;
    flex-direction: column;
    .top-creators-img{
        background-color: #3b3b3b;
        .top-creators-img1{
            margin: 20px 0;
            background-color: #3b3b3b;

        }
    }
    .top-creators-headings{
        margin:0 0 20px ;
        h1{
            font-size: 22px;
            font-weight: 600;
            line-height: 140%;
            background-color: #3b3b3b;
        }
        p{
            font-size: 16px;
            line-height: 140%;
            font-weight: 400;
            background-color: #3b3b3b;
            color: #858584;
        }
    }
}