.top-creators-cards{
    border-radius: 20px;
    flex-basis: 240px;
    background-color: #3b3b3b;
    display: flex;
    align-items: center;
    flex-direction: column;
    .top-creators-img{
        background-color: #3b3b3b;
        .top-creators-img1{
            margin: 20px 0;
            background-color: #3b3b3b;

        }
    }
    .top-creators-headings{
        margin:0 0 20px ;
        h1{
            font-size: 22px;
            font-weight: 600;
            line-height: 140%;
            background-color: #3b3b3b;
            text-align: center;
        }
        p{
            font-size: 16px;
            line-height: 140%;
            font-weight: 400;
            background-color: #3b3b3b;
            color: #858584;
        }
    }

    @media (max-width:1281px) {
        flex-direction: row;
        align-items: center;
        padding: 20px;
        column-gap: 20px;
        .top-creators-img{
            .top-creators-img1{
                width: 60px;
                height: 60px;
                margin: 0;
            }
        }
        .top-creators-headings{
            margin: 0;
            h1{
                text-align: start;
            }
            p{
                span{
                    margin-left: 10px;
                }
            }
        }
    }
}