.main-page {
    .container1 {
        border: 1px solid;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .section1 {
            border: 1px solid;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            flex-basis: 1050px;
            margin: 80px 50px;

            @media (max-width : 1015px) {
                margin: 80px 72px;
            }

            .header-heading {
                border: 1px solid;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-evenly;

                h1 {

                    font-size: 67px;
                    font-weight: 600;
                    line-height: 110%;
                    margin-bottom: 20px;
                }

                h3 {
                    font-size: 22px;
                    line-height: 160%;
                    font-weight: 400;
                    margin-bottom: 30px;
                }

                .button2 {
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #A259FF;
                    color: white;
                    padding: 19px 56px;
                    margin-bottom: 30px;

                    button {
                        font-size: 16px;
                        line-height: 140%;
                        font-weight: 600;
                        margin-left: 12px;
                    }
                }

                .total-sales {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    div {
                        h2 {
                            font-size: 28px;
                            line-height: 140%;
                        }

                        p {
                            font-size: 23.99px;
                            line-height: 160%;
                        }
                    }
                }
            }

            .header-card1 {
                width: 100%;
                background-color: #3B3B3B;
                border-radius: 0 0 20px 20px;
                margin-bottom: 20px;

                .img1-div {
                    height: 400px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .img1-bottom {
                    border: 1px solid;
                    background-color: #3B3B3B;
                    margin: 22px 20px;

                    h2 {
                        background-color: #3B3B3B;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 140%;
                    }

                    div {
                        background-color: #3B3B3B;
                        margin-top: 10px;
                        display: flex;

                        p {
                            background-color: #3B3B3B;
                            font-size: 16px;
                            font-weight: 400;
                            margin-left: 12px;
                            line-height: 140%;
                        }
                    }
                }


            }

        }

    }

    .container2 {
        display: flex;
        justify-content: center;

        .section2 {

            flex-basis: 1050px;
            margin: 80px 50px;

            .section2-heading {
                margin: 0px 0 60px;

                h2 {

                    font-size: 38px;
                    font-weight: 600;
                    line-height: 120%;
                    margin-bottom: 10px;
                }

                h4 {
                    font-size: 22px;
                    line-height: 160%;
                }
            }

            .section2-cards {
                // width: 1050px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 30px;
                // grid-row: inherit;



            }
        }
    }

    .container3 {

        display: flex;
        justify-content: center;

        .section3 {

            flex-basis: 1050px;
            margin: 80px 0;

            .section3-heading-btn {

                display: flex;
                align-items: end;
                justify-content: space-between;
                margin: 0 0 60px;

                .section3-heading {
                    h1 {
                        font-size: 38px;
                        line-height: 120%;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 22px;
                        line-height: 160%;
                        font-weight: 400;
                    }

                }

                .section3-btn {
                    border: 2px solid #A259FF;
                    border-radius: 20px;
                    display: flex;
                    padding: 19px 50px;

                    h3 {
                        font-size: 16px;
                        line-height: 140%;
                        font-weight: 600;
                        margin-left: 12px;
                    }
                }
            }

            .top-creators-card {

                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 30px;
            }
        }
    }

    .container4 {

        display: flex;
        justify-content: center;

        .section4 {

            flex-basis: 1050px;
            margin: 80px 0;

            h1 {
                font-size: 38px;
                line-height: 120%;
                font-weight: 600;
                margin-bottom: 60px;
            }

            .section4-cards {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 30px;
            }

        }
    }

    .container5 {

        display: flex;
        justify-content: center;

        // align-items: center;
        .section5 {

            flex-basis: 1050px;
            margin: 80px 0;

            .section5-heading-btn {

                display: flex;
                align-items: end;
                justify-content: space-between;
                margin: 0 0 60px;

                .section5-heading {
                    h1 {
                        font-size: 38px;
                        line-height: 120%;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 22px;
                        line-height: 160%;
                        font-weight: 400;
                    }

                }

                .section5-btn {
                    border: 2px solid #A259FF;
                    border-radius: 20px;
                    display: flex;
                    padding: 19px 50px;

                    h3 {
                        font-size: 16px;
                        line-height: 140%;
                        font-weight: 600;
                        margin-left: 12px;
                    }
                }
            }

            .section5-cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 30px;
            }
        }
    }

    .container6 {

        display: flex;
        justify-content: center;
        align-items: center;

        .section6 {

            flex-basis: 1050px;
            margin: 80px 0;

            .section6-heading {

                margin-bottom: 48px;

                h1 {
                    font-size: 38px;
                    line-height: 120%;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 22px;
                    line-height: 160%;
                    font-weight: 400;
                }
            }

            .section6-cards {

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 30px;
            }
        }
    }

    .container7 {

        display: flex;
        justify-content: center;

        .section7 {

            border-radius: 20px;
            flex-basis: 1050px;
            background-color: #3B3B3B;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 50px;
            margin: 40px 0 80px;

            .img1 {
                border-radius: 20px;
                background-color: #3B3B3B;
                margin: 60px;
            }
        }

    }
}