.main-page {
    .container1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .section1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            flex-basis: 1050px;
            margin: 80px 50px;

            .header-heading {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-evenly;

                h1 {
                    font-size: 67px;
                    font-weight: 600;
                    line-height: 110%;
                    margin-bottom: 20px;
                }

                h3 {
                    font-size: 22px;
                    line-height: 160%;
                    font-weight: 400;
                    margin-bottom: 30px;
                }

                .button2 {
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #A259FF;
                    color: white;
                    padding: 19px 56px;
                    margin-bottom: 30px;

                    button {
                        font-size: 16px;
                        line-height: 140%;
                        font-weight: 600;
                        margin-left: 12px;
                    }
                }

                .total-sales {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    div {
                        h2 {
                            font-size: 28px;
                            line-height: 140%;
                        }

                        p {
                            font-size: 23.99px;
                            line-height: 160%;
                        }
                    }
                }
            }

            .header-card1 {
                width: 100%;
                background-color: #3B3B3B;
                border-radius: 0 0 20px 20px;
                margin-bottom: 20px;

                .img1-div {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .img1-bottom {
                    background-color: #3B3B3B;
                    margin: 22px 20px;

                    h2 {
                        background-color: #3B3B3B;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 140%;
                    }

                    div {
                        background-color: #3B3B3B;
                        margin-top: 10px;
                        display: flex;

                        p {
                            background-color: #3B3B3B;
                            font-size: 16px;
                            font-weight: 400;
                            margin-left: 12px;
                            line-height: 140%;
                        }
                    }
                }


            }

            .button-total-sales {
                display: none;

                .button2 {
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #A259FF;
                    color: white;
                    padding: 19px 56px;
                    margin-bottom: 30px;

                    button {
                        font-size: 16px;
                        line-height: 140%;
                        font-weight: 600;
                        margin-left: 12px;
                    }
                }

                .total-sales {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    div {
                        h2 {
                            font-size: 28px;
                            line-height: 140%;
                        }

                        p {
                            font-size: 23.99px;
                            line-height: 160%;
                        }
                    }
                }
            }

            @media (max-width: 1281px) {
                flex-basis: 690px;
                margin: 80px 72px;

                .header-heading {
                    justify-content: space-between;

                    h1 {
                        font-size: 38px;
                        line-height: 120%;
                    }

                    h3 {
                        font-size: 16px;
                        line-height: 140%;
                        margin-bottom: 20px;
                    }

                    .button2 {
                        padding: 19px 50px;
                    }

                    .total-sales {
                        div {
                            h2 {
                                font-size: 22px;
                                line-height: 160%;
                            }

                            p {
                                font-size: 16px;
                                line-height: 140%;
                            }
                        }
                    }
                }
            }

            @media (max-width: 834px) {
                flex-basis: 315px;
                display: flex;
                flex-direction: column;
                margin: 40px 30px;

                .button-total-sales {
                    display: block;

                    div {
                        h2 {
                            font-size: 22px !important;
                            line-height: 160% !important;
                        }

                        p {
                            font-size: 16px !important;
                            line-height: 140% !important;
                        }
                    }
                }

                .header-heading {
                    .button2 {
                        display: none;
                    }

                    .total-sales {
                        display: none;
                    }
                }
            }
        }

    }

    .container2 {
        display: flex;
        justify-content: center;

        .section2 {

            flex-basis: 1050px;
            margin: 80px 50px;

            .section2-heading {
                margin: 0px 0 60px;

                h2 {

                    font-size: 38px;
                    font-weight: 600;
                    line-height: 120%;
                    margin-bottom: 10px;
                }

                h4 {
                    font-size: 22px;
                    line-height: 160%;
                }
            }

            .section2-cards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 30px;
            }

            @media (max-width: 1281px) {
                flex-basis: 690px;
                margin: 40px 72px;

                .section2-heading {
                    h2 {
                        font-size: 28px;
                        line-height: 140%;
                    }

                    h4 {
                        font-size: 16px;
                        line-height: 140%;
                    }
                }

                .section2-cards {
                    grid-template-columns: 1fr 1fr;

                    .last-section2-cards {
                        display: none;
                    }
                }
            }

            @media (max-width: 834px) {
                flex-basis: 315px;
                margin: 0 30px;

                .section2-cards {
                    grid-template-columns: 1fr;

                    .middle-section2-cards {
                        display: none;

                    }
                }
            }
        }
    }

    .container3 {

        display: flex;
        justify-content: center;

        .section3 {

            flex-basis: 1050px;
            margin: 80px 50px;

            .section3-heading-btn {

                display: flex;
                align-items: end;
                justify-content: space-between;
                margin: 0 0 60px;

                .section3-heading {
                    h1 {
                        font-size: 38px;
                        line-height: 120%;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 22px;
                        line-height: 160%;
                        font-weight: 400;
                    }

                }

                .section3-btn {
                    border: 2px solid #A259FF;
                    border-radius: 20px;
                    display: flex;
                    padding: 19px 50px;

                    h3 {
                        font-size: 16px;
                        line-height: 140%;
                        font-weight: 600;
                        margin-left: 12px;
                    }
                }
            }

            .top-creators-card {

                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 30px;

                .section3-btn {
                    display: none !important;
                    border: 2px solid #A259FF;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    padding: 19px 50px;

                    h3 {
                        font-size: 16px;
                        line-height: 140%;
                        font-weight: 600;
                        margin-left: 12px;
                    }
                }
            }

            @media (max-width: 1281px) {
                flex-basis: 690px;
                margin: 40px 72px;

                .section3-heading-btn {
                    .section3-heading {
                        h1 {
                            font-size: 28px;
                            line-height: 140%;

                        }

                        p {
                            font-size: 16px;
                            line-height: 140%;
                        }
                    }

                }

                .top-creators-card {
                    grid-template-columns: 1fr 1fr;

                    .cards-end {
                        display: none;
                    }
                }
            }

            @media (max-width: 834px) {
                flex-basis: 315px;
                margin: 40px 30px;

                .section3-heading-btn {
                    .section3-btn {
                        display: none;
                    }
                }

                .top-creators-card {
                    display: flex;
                    flex-direction: column;

                    .section3-btn {
                        display: flex !important;

                    }
                }
            }
        }
    }

    .container4 {

        display: flex;
        justify-content: center;

        .section4 {

            flex-basis: 1050px;
            margin: 80px 50px;

            h1 {
                font-size: 38px;
                line-height: 120%;
                font-weight: 600;
                margin-bottom: 60px;
            }

            .section4-cards {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 30px;
            }

            @media (max-width:1281px) {
                flex-basis: 690px;
                margin: 40px 72px;

                h1 {
                    font-size: 28px;
                    line-height: 140%;
                }
            }

            @media (max-width:834px) {
                flex-basis: 315px;
                margin: 40px 30px;

                .section4-cards {
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;

                }
            }
        }
    }

    .container5 {

        display: flex;
        justify-content: center;

        .section5 {

            flex-basis: 1050px;
            margin: 80px 50px;

            .section5-heading-btn {

                display: flex;
                align-items: end;
                justify-content: space-between;
                margin: 0 0 60px;

                .section5-heading {
                    h1 {
                        font-size: 38px;
                        line-height: 120%;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 22px;
                        line-height: 160%;
                        font-weight: 400;
                    }

                }

                .section5-btn {
                    border: 2px solid #A259FF;
                    border-radius: 20px;
                    display: flex;
                    padding: 19px 50px;

                    h3 {
                        font-size: 16px;
                        line-height: 140%;
                        font-weight: 600;
                        margin-left: 12px;
                    }
                }
            }

            .section5-cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 30px;

                .section5-btn {
                    display: none !important;
                    border: 2px solid #A259FF;
                    border-radius: 20px;
                    display: flex;
                    padding: 19px 50px;

                    h3 {
                        font-size: 16px;
                        line-height: 140%;
                        font-weight: 600;
                        margin-left: 12px;
                    }
                }
            }

            @media (max-width:1281px) {
                border: 1px solid;
                flex-basis: 690px;
                margin: 40px 72px;

                .section5-heading-btn {
                    .section5-heading {
                        h1 {
                            font-size: 28px;
                            line-height: 140%;
                        }

                        p {
                            font-size: 16px;
                            line-height: 140%;
                        }
                    }
                }

                .section5-cards {
                    grid-template-columns: 1fr 1fr;
                }

                .last-section5-card {
                    display: none;
                }
            }

            @media (max-width:834px) {
                flex-basis: 315px;
                margin: 40px 30px;

                .section5-heading-btn {
                    .section5-btn {
                        display: none;
                    }
                }

                .section5-cards {
                    grid-template-columns: 1fr;
                    row-gap: 20px;

                    .section5-btn {
                        display: flex !important;
                        justify-content: center;
                        margin-top: 20px;
                    }
                }

            }
        }
    }

    .container6 {

        display: flex;
        justify-content: center;
        align-items: center;

        .section6 {

            flex-basis: 1050px;
            margin: 80px 50px;

            .section6-heading {

                margin-bottom: 48px;

                h1 {
                    font-size: 38px;
                    line-height: 120%;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 22px;
                    line-height: 160%;
                    font-weight: 400;
                }
            }

            .section6-cards {

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 30px;
            }

            @media (max-width:1281px) {
                flex-basis: 690px;
                margin: 40px 72px;

                .section6-heading {
                    h1 {
                        font-size: 28px;
                        line-height: 140%;
                    }

                    p {
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
            }

            @media (max-width:834px) {
                flex-basis: 315px;
                margin:40px 5px 40px 5px;

                .section6-cards {
                    grid-template-columns: 1fr;
                    row-gap: 20px;
                }
            }
        }
    }

    .container7 {

        display: flex;
        justify-content: center;

        .section7 {
            border-radius: 20px;
            flex-basis: 1050px;
            background-color: #3B3B3B;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 50px;
            margin: 40px 50px 80px;

            .section7-img1 {
                display: flex;
                margin: 60px 0 60px 60px;
                background-color: #3B3B3B;
                border-radius: 20px;

                .img1 {
                    background-color: #3B3B3B;
                }
            }



            @media (max-width:1281px) {
                flex-basis: 690px;
                margin: 40px 72px;
                column-gap: 30px;

                .section7-img1 {
                    margin: 40px 0px 40px 30px;
                }


            }

            @media (max-width :834px) {

                flex-basis: 315px;
                display: flex;
                flex-direction: column;
                background-color: #2B2B2B;
                margin:40px 5px 40px 5px;

                .section7-img1 {
                    background-color: #2B2B2B;
                    margin:0 0 30px 0;
                    .img1 {
                        background-color: #2B2B2B;
                    }
                }

            }
        }

    }
}