.marketplace {
    display: flex;
    justify-content: center;

    .marketplace-inner-div {
        flex-basis: 1050px;

        .marketplace-heading {
            margin: 80px 5px;

            .inner-marketplace-heading {
                margin-bottom: 30px;

                h1 {
                    font-size: 51px;
                    font-weight: 600;
                    line-height: 110%;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 22px;
                    line-height: 160%;
                    font-weight: 400;
                }
            }

            .inner-marketplace-search {
                border: 1px solid #3B3B3B;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 26px;
                padding: 18px 20px;

                input {
                    color: white;
                    width: 100%;
                    outline: none;

                    &::placeholder {
                        color: #858584;
                    }
                }
            }
        }

        .marketplace-cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            margin: 0 0 80px;
        }
        @media (max-width : 1281px ) {
            flex-basis: 690px;
            margin: 0 72px;
            .marketplace-heading {
                .inner-marketplace-heading{
                    h1{
                        font-size: 38px;
                        line-height: 120%;
                    }
                    p{
                        font-size: 16px;
                        line-height: 140%;
                    }

                }
            }
            .marketplace-cards{
                grid-template-columns: 1fr 1fr;
                .middle-hidden-card{
                    display: none;
                }
            }
        }
        @media (max-width : 834px ){
            flex-basis: 315px;
            margin: 0 30px;
            .marketplace-heading{
                margin: 40px 0;
                .inner-marketplace-heading{
                    h1{
                            font-size: 28px;
                        line-height: 140%;
                    }
                }
            }
            .marketplace-cards{
                grid-template-columns: 1fr;
            }
        }
    }
}