.how-it-work {
    border-radius: 20px;
    flex-basis: 330px;
    height: 440px;
    background-color: #3b3b3b;

    div {
        border-radius: 20px;
        background-color: #3b3b3b;
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin: 30px;

        .img1 {
            background-color: #3b3b3b;
            margin: 10px 0 20px;
        }

        h1 {
            background-color: #3b3b3b;
            font-size: 22px;
            line-height: 140%;
            font-weight: 600;
            margin: 0 30px 10px;
        }

        p {
            background-color: #3b3b3b;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            margin: 0 30px;
        }

        @media (max-width: 1281px) {
            h1 {
                font-size: 16px;
                line-height: 140%;
            }

            p {
                // border: 1px solid;
                font-size: 12px;
                line-height: 140%;
            }

        }
    }
}