.how-it-work {
    border-radius: 20px;
    flex-basis: 330px;
    background-color: #3b3b3b;

    .inner-how-it-work {
        border-radius: 20px;
        background-color: #3b3b3b;
        display: flex;
        flex-direction: column;
        align-items: center;

        .how-img1 {
            margin: 10px 25px 20px;

            .img1 {
                background-color: #3b3b3b;
            }
        }

        .how-it-work-heading {
            background-color: #3b3b3b;

            h1 {
                background-color: #3b3b3b;
                font-size: 22px;
                line-height: 140%;
                font-weight: 600;
                margin: 0 30px 10px;
            }

            p {
                background-color: #3b3b3b;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                margin: 0 30px 30px;
            }
        }



        @media (max-width: 1281px) {

            .how-it-work-heading {
                h1 {
                    font-size: 16px;
                    line-height: 140%;
                }

                p {
                    font-size: 12px;
                    line-height: 140%;
                    margin: 0 20px 30px;
                }
            }


        }

        @media (max-width: 834px) {
            border: 1px solid;
            display: flex;
            flex-direction: row;

            .how-img1 {
                border: 1px solid;
            }

            .how-it-work-heading {
                border: 1px solid;

                h1 {
                    border: 1px solid;
                    font-size: 16px;
                    line-height: 140%;
                }

                p {
                    border: 1px solid;
                    font-size: 12px;
                    line-height: 140%;
                    // margin: 0 20px 30px;
                }
            }
        }
    }
}