.ranking-page {
    display: flex;
    justify-content: center;

    .inner-ranking-page {
        border: 1px solid;
        flex-basis: 1050px;
        margin: 0 72px;
        .section1 {
            margin: 80px 0;

            h1 {
                font-size: 51px;
                line-height: 110%;
                font-weight: 600;
                margin-bottom: 20px;
            }

            p {
                font-size: 22px;
                line-height: 160%;
                font-weight: 400;
            }
        }

        .section2 {
            margin: 40px 0;
            .ranking-page-crads-heading {
                border: 1px solid #858584;
                margin-bottom: 20px;
                border-radius: 20px;
                padding: 12px 20px;
                display: grid;
                grid-template-columns: 1fr 1.2fr;
                column-gap: 60px;
                align-items: center;

                p {
                    border: 1px solid;
                    color: #858584;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 140%;
                }

                .div1 {
                    border: 1px solid;
                    display: flex;
                    align-items: center;
                }

                .div2 {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 20px;
                }
            }

            .ranking-page-crads {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                
            }
        }

        @media (max-width : 1281px) {
            flex-basis: 690px;
            .section1{
                margin: 40px 0;
                h1{
                    font-size: 38px;
                    line-height: 120%;
                }
                p{
                    font-size: 16px;
                    line-height: 140%;
                }
            }
            
            .section2{
                .ranking-page-crads-heading{
                    border: 1px solid;
                    .div2{
                        border: 1px solid;
                        grid-template-columns: 1fr 1fr;
                        place-items: end;
                        .middle-p{
                            display: none;
                        }
                    }
                }
            }
        }

        @media (max-width : 834px){
            flex-basis: 315px;
            margin: 0 !important;
            .section1{
                margin:  30px;
                border: 1px solid;
                h1{
                    font-size: 28px;
                    line-height: 140%;
                }
            }
            .section2{
                .div2{
                    border: 1px solid blue !important;
                    display: flex !important;
                    justify-content: end !important;
                    .first-p{
                        display: none;

                    }

                }
            }
        }
    }

}