.ranking-page {
    border: 1px solid;
    display: flex;
    justify-content: center;

    .inner-ranking-page {
        border: 1px solid;
        flex-basis: 1050px;

        .section1 {
            border: 1px solid;
            margin: 80px 0;
            h1 {
                font-size: 51px;
                line-height: 110%;
                font-weight: 600;
                margin-bottom: 20px;
            }

            p {
                font-size: 22px;
                line-height: 160%;
                font-weight: 400;
            }
        }
        .section2{
            .ranking-page-crads-heading{
                border: 1px solid #858584;
                border-radius: 20px;
                padding: 12px 20px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                p{
                    border: 1px solid;
                    color: #858584;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 140%;
                }
                .div1{
                    display: flex;
                    
                }
                .div2{
                    display: flex;
                }
            }
        }




    }

}