.main-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .navbar {
        margin: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 1280px;

        .navbar-heading {
            display: flex;
            align-items: center;

            h1 {
                font-size: 22px;
                line-height: 140%;
                margin-left: 10px;
                width: 260px;
            }
        }

        .navbar-pages {
            display: flex;
            flex-basis: 600px;
            margin-left: 50px;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                li {
                    font-size: 16px;
                    margin: 0 5px 0;

                    .button1 {

                        border-radius: 20px;
                        padding: 20px 30px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        background-color: #A259FF;

                        button {
                            font-weight: 600;
                            background-color: #A259FF;
                            margin-left: 12px;
                        }
                    }
                }
            }
        }
    }

}