.main-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .navbar {
        margin: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 1280px;
        @media (max-width : 1015px) {
            margin: 15px 50px;
        }

        .navbar-heading {
            display: flex;
            align-items: center;

            h1 {
                font-size: 22px;
                line-height: 140%;
                margin-left: 10px;
                width: 260px;
            }
        }

        .navbar-pages {
            display: flex;
            margin-left: 50px;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 10px;

                li {
                    font-size: 16px;
                    padding: 10px 20px;

                    .button1 {
                        margin: -12px -20px;
                        border-radius: 20px;
                        padding: 20px 30px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        background-color: #A259FF;

                        button {
                            font-weight: 600;
                            background-color: #A259FF;
                            margin-left: 12px;
                        }
                    }
                }
            }

            @media (max-width : 1015px) {
                display: none;
            }
        }

        .menu {
            display: none;
            @media (max-width : 1015px) {
                // border: 1px solid;
                display: block;
            }
        }
    }

}