.sign-up {
    display: flex;
    justify-content: center;
    .inner-sign-up {
        border: 1px solid;
        flex-basis: 1280px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
        place-items: center;

        .sign-up-img {
            width: 100%;
            height: 100%;

            .img1 {
                width: 100%;
                height: 100%;
            }
        }

        .sign-up-div2 {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;

            .inner-sign-up-div2 {
                border: 1px solid;
                margin: 50px 0;

                
                .sign-up-div2-heading {
                    h1 {
                        font-size: 51px;
                        line-height: 110%;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 22px;
                        line-height: 160%;
                        font-weight: 400;
                        margin-bottom: 40px;
                        width: 100%;
                    }
                }

                .sign-up-div2-fields {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    row-gap: 15px;
                    margin-bottom: 30px;

                    .input-field {
                        background-color: white;
                        border-radius: 20px;
                        padding: 12px 20px;
                        display: flex;
                        align-items: center;
                        column-gap: 12px;

                        input {
                            background-color: white;
                            color: #2B2B2B;
                            outline: none;
                            padding: 0 69px 0 0;

                            &::placeholder {
                                color: #2B2B2B;
                                font-size: 16px;
                                line-height: 140%;
                            }

                        }
                    }
                }

                .sign-up-button {
                    button {
                        background-color: #A259FF;
                        text-align: center;
                        padding: 12px 105px;
                        font-size: 16px;
                        line-height: 140%;
                        border-radius: 20px;
                    }
                }

                @media (max-width : 880px) {
                    border: 1px solid red;
                    width: 100%;
                    .sign-up-div2-heading{
                        border: 1px solid;
                        h1{
                            font-size: 38px;
                            line-height: 120%;
                        }
                        p{
                            border: 1px solid;
                            font-size: 16px;
                            width: 100%;
                        }
                    }
                    .sign-up-div2-fields{
                        

                    }
                }
            }
        }
    }

}