.browse-categories{
    display: flex;

    .inner-browse-categories{   
        flex-basis: 230px;
        background-color: #3b3b3b;
        border-radius: 20px;
        p{
            font-size: 22px;
            line-height: 140%;
            font-weight: 600;
            margin: 20px 30px 25px;
            background-color: #3b3b3b;
    
        }
        @media (max-width:1281px) {
            flex-basis: 150px;
        }
    }
    
}