.connect-wallet {
    display: flex;
    justify-content: center;

    .inner-connect-wallet {
        flex-basis: 1280px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
        place-items: center;

        .connect-wallet-img {
            width: 100%;
            height: 100%;

            .img1 {
                width: 100%;
                height: 100%;
            }
        }

        .connect-wallet-div2 {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;

            .connect-wallet-heading {
                h1 {
                    font-size: 51px;
                    line-height: 110%;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 22px;
                    line-height: 160%;
                    font-weight: 400;
                    margin-bottom: 40px;
                }
            }

            .connect-wallet-buttons {
                display: flex;
                flex-direction: column;
                row-gap: 20px;

                div {
                    border: 1px solid #A259FF;
                    background-color: #3B3B3B;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    column-gap: 20px;
                    padding: 16px 20px 20px 40px;

                    .img2 {
                        width: 40px;
                        height: 40px;
                        background-color: #3B3B3B;
                    }

                    h1 {
                        background-color: #3B3B3B;
                        font-size: 22px;
                        line-height: 140%;
                        font-weight: 600;
                        margin-right: 24px;
                    }
                }
            }
        }

        @media (max-width:1281px) {
            .connect-wallet-div2 {
                .connect-wallet-heading {
                    h1 {
                        font-size: 38px;
                        line-height: 120%;
                    }

                    p {
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
            }
        }

        @media (max-width:834px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-basis: 315px;
            margin: 0 30px;

            .connect-wallet-div2 {
                .connect-wallet-heading {
                    margin-top: 30px;

                }
                .connect-wallet-buttons{
                    margin-bottom: 40px;
                }
            }
        }
    }
}