.join-digest {
    background-color: #3B3B3B;
    margin: 79px 60px 79px 20px;

    h1 {
        font-size: 38px;
        line-height: 120%;
        font-weight: 600;
        background-color: #3B3B3B;
        margin-bottom: 10px;
    }

    p {
        font-size: 22px;
        line-height: 160%;
        font-weight: 400;
        background-color: #3B3B3B;
        margin-bottom: 40px;
    }

    div {
        border-radius: 20px;
        background-color: white;
        display: flex;
        justify-content: space-between;

        input {
            border-radius: 20px;
            width: 100%;
            background-color: white;
            padding: 19px 20px;

            &::placeholder {
                font-size: 16px;
                line-height: 140%;
                color: #2b2b2b;
            }
        }

        h5 {
            border-radius: 20px;
            padding: 19px 50px;
            background-color: #A259FF;
        }
    }

    @media (max-width  :1281px) {
        h1{
            font-size: 28px;
            line-height: 140%;
        }
        p{
            font-size: 16px;
            line-height: 140%;
        }
        div{
            flex-direction: column;
            background-color: #3b3b3b;

            input{
                padding: 12px 20px;
                &::placeholder{
                    font-size: 16px;
                }
            }
            h5{

            }
        }
        
    }
}